{% extends "basic.html" %}
{% block title%}Home{% endblock %}
{% block body %}
Search some literature:
<form action="/search_result">
  <label for="search_query">Query:</label>
  <input type="text" id="search_query" name="search_query">
  <br><br>
  View as HTML or markdown:
  <br>
  <label for="HTML">HTML</label>
  <input type="radio" id="HTML" name="file_type" value="html" checked>
  <br>
  <label for="markdown">markdown</label>
  <input type="radio" id="markdown" name="file_type" value="md">
  <br>
  <label for="markdown">pdf</label>
  <input type="radio" id="pdf" name="file_type" value="pdf">
  <br>
  <input type="submit">
</form>
{% endblock %}
