{% extends "basic.html" %}
{% block title%}Home{% endblock %}
{% block body %}
Search some literature:
<form action="/search_result">
  <label for="search_query">Query:</label>
  <input type="text" id="search_query" name="search_query">
</form>
<br><br>
<form>
  View as HTML or markdown:
  <br>
  <label for="HTML">HTML</label>
  <input type="radio" id="HTML" name="search_query" value="HTML">
  <br>
  <label for="markdown">markdown</label>
  <input type="radio" id="markdown" name="search_query" value="markdown">
</form>
{% endblock %}
